name: iOS TestFlight

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-upload:
    runs-on: macos-14

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # Step 2: Configure access to private GitHub fork
      - name: Configure Git for private packages
        run: |
          git config --global url."https://${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}:@github.com/".insteadOf "https://github.com/"

      # Step 3: Setup Flutter
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.38.6"

      # Step 4: Install Flutter dependencies
      - name: Install dependencies
        run: flutter pub get

      # 3️⃣ Install dependencies
      - name: Flutter pub get
        run: flutter pub get

      #4 Print ios certificate
      - name: Print IOS certificate
        run: echo ${{ secrets.IOS_CERTIFICATE }}

      # 5 Import iOS certificate & provisioning profile
      - name: Import signing certificate & provisioning profile
        uses: apple-actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.IOS_CERTIFICATE }}
          p12-password: ${{ secrets.KEYCHAIN_PASSWORD }}
          provisioning-profile-base64: ${{ secrets.IOS_PROVISION_PROFILE }}

      # 6️⃣ Build IPA (App Store)
      - name: Build IPA
        run: |
          flutter build ipa \
            --release \
            --export-method app-store

      # 7️⃣ Verify IPA exists (IMPORTANT)
      - name: Verify IPA file
        run: |
          ls build/ios/ipa

      # 8️⃣ Upload to TestFlight
      - name: Upload to TestFlight
        uses: apple-actions/upload-testflight-build@v1
        with:
          app-path: build/ios/ipa/*.ipa
          api-key-id: ${{ secrets.APP_STORE_API_KEY_ID }}
          api-issuer-id: ${{ secrets.APP_STORE_API_ISSUER_ID }}
          api-private-key: ${{ secrets.APP_STORE_API_PRIVATE_KEY }}
