name: Upload Flutter iOS app to TestFlight 
 
on: 
  push: 
    branches: 
      - main   # change if needed 
 
jobs: 
  build: 
    runs-on: macos-14 

    env:                     # <- HERE 
      WORKSPACE: ios/Runner.xcworkspace 
      SCHEME: Runner
 
    steps: 
      - name: Checkout 
        uses: actions/checkout@v4 

      - name: Configure Git to access private repos 
        run: | 
          git config --global url."https://${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}:@github.com/".insteadOf "https://github.com/"
 
      - name: Set up Flutter 
        uses: subosito/flutter-action@v2 
        with: 
          flutter-version: "3.38.6" 
 
      - name: Install dependencies 
        run: flutter pub get 
 
      - name: Build iOS (no codesign) 
        run: flutter build ios --release --no-codesign 
 
      - name: Select Xcode 15.4 
        run: sudo xcode-select -s /Applications/Xcode_15.4.app 
 
      - name: Import certificates & profiles 
        uses: apple-actions/import-codesign-certs@v3 
        with: 
          p12-file-base64: ${{ secrets.IOS_CERTIFICATE }} 
          p12-password: ${{ secrets.KEYCHAIN_PASSWORD }} 
          provisioning-profile-base64: ${{ secrets.IOS_PROVISION_PROFILE }} 
 
      - name: Archive app 
        run: | 
            xcodebuild archive \ 
               -workspace ios/Runner.xcworkspace \ 
               -scheme Runner \ 
               -configuration Release \ 
               -archivePath build/Runner.xcarchive \ 
               -destination 'generic/platform=iOS' \ 
               CODE_SIGNING_ALLOWED=YES
 
      - name: Upload to TestFlight 
        uses: apple-actions/upload-testflight-build@v1 
        with: 
          app-path: build/Runner.xcarchive 
          issuer-id: ${{ secrets.APP_STORE_ISSUER_ID }} 
          api-key-id: ${{ secrets.APP_STORE_KEY_ID }} 
          api-private-key: ${{ secrets.APP_STORE_PRIVATE_KEY }}
